@using MYL.Models;
@model IEnumerable<Questionary>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@foreach (Questionary u in Model)
{
<a asp-action="UserQuestionary" asp-controller="MyQuestionary" asp-route-id="@u.Id">
    @if (u.Avatar is not null)
    {
        <div class="user_block">
            <div class="photo_block">
                <img src="data:image/jpeg;base64,@(Convert.ToBase64String(u.Avatar))">
            </div>
            <div class="user_info">
                @u.Name
                <br />
                @u.Surname
                <br />
                @u.Age
            </div>
        </div>
    }
    @if (u.Avatar == null && u.Gen == "Male")
    {
        <div class="user_block">
            <div class="photo_block">
                <img src="~/img/Man new.png">
            </div>
            <div class="user_info">
                @u.Name
                <br />
                @u.Surname
                <br />
                @u.Age
            </div>
        </div>

    }
    @if (u.Avatar == null && u.Gen == "Female")
    {
        <div class="user_block">
            <div class="photo_block">
                <img src="~/img/Women new.png">
            </div>
            <div class="user_info">
                @u.Name
                <br />
                @u.Surname
                <br />
                @u.Age
            </div>
        </div>

    }
</a>
    }

